.drawer {
    position      : fixed;
    height        : 60dvh;
    height        : calc(100dvh - 26.7dvh);
    bottom        : 0;
    max-width     : 500px;
    width         : 100vw;
    margin        : 0 auto;
    pointer-events: none;
    touch-action  : none;
    opacity       : 1;
    z-index       : 100;
}

/* .drawer-enter-done {
    background-color: rgb(0, 233, 70);
} */



/* .container.exitDone {
    background-color: rgb(255, 196, 0) !important;
    transform       : translateY(100dvh);
}
.container.exitActive {
    background-color   : rgb(0, 17, 255) !important;
    transform          : translateY(100dvh);
} */

/* .exitDone {
    transform : translateY(100dvh);
} */

/* .drawer.open {
    pointer-events : auto;
} */
.backdrop {
    position  : fixed;
    height    : 60dvh;
    height    : calc(100dvh - 26.7dvh);
    bottom    : 0;
    width     : 100vw;
    max-width : 500px;
    margin    : 0 auto;
    transition: all .3s ease-in-out, width 0s, height 0s, backgroundColor .0s;
    opacity   : 0;
}

.backdrop.enterActive {
    opacity: 0;
}

.backdrop.enterDone {
    opacity: 1;

}

/* 
.drawer-enterDone .backdrop{
    opacity: 1;
    transition: opacity .3s ease-in-out;

}

.drawer.enterActive .backdrop{
    opacity: 0;
    transition: opacity .3s ease-in-out;

} */

/* 
.backdrop-enter {
    opacity: 0;
} */

/* .backdrop-enter-active {
    opacity   : 1;
    transition: opacity 500ms ease-in;
}

.backdrop-exit {
    opacity: 1;
} */

/* .backdrop-exit-active {
    opacity   : 0;
    transition: opacity 500ms ease-in;
} */

.container {
    background-color       : rgb(255, 255, 255);
    border-top-left-radius : 1rem;
    border-top-right-radius: 1rem;
    transition             : transform .2s ease-in-out;
    height                 : 100dvh;
    transform              : translateY(100dvh);
}

.container.enterActive {
    transform: translateY(100dvh);
}

.container.enterDone {
    transform : translateY(0dvh);
    transition: transform 200ms ease-in-out;
}

.container.exit {
    transform: translateY(0dvh);
}

.container.exitActive {
    transform : translateY(100dvh);
    transition: transform 250ms ease-in-out;
}

.container.exitDone {
    transform: translateY(100dvh);
}


/* .container.exitActive {
    transform: translateY(100dvh);
}
.container.exitDone {
    transform: translateY(100dvh);
} */


/* .container.exitDone {
    background-color: rgb(0, 252, 55) !important;
    transform : translateY(100dvh);
    transition: transform 300ms;
} */

/* .container.enterActive {
    transform          : translateY(100dvh);
    background-color   : red !important;
    transition: all .3s ease-in-out;
}

.container.enterDone {
    background-color: green !important;
    transform       : translateY(0dvh);
}

.container.exitDone {
    background-color: rgb(0, 174, 255) !important;
    transform       : translateY(100dvh);
    transition: all .3s ease-in-out;
}
.container.exitActive {
    background-color: rgb(255, 217, 0) !important;
    transform       : translateY(100dvh);
    transition: all .3s ease-in-out;
} */


.content {
    overflow-x : hidden;
    overflow-y : scroll;
    will-change: height;
    height     : 100vh;
}

.content:hover::-webkit-scrollbar-thumb {
    background: #c5c5c5;
}

.content li:last-child {
    color           : red;
    background-color: rgb(228, 96, 96) !important;
}

.phill {
    background-color: rgb(199 199 199);
    width           : 50px;
    height          : 6px;
    border-radius   : 1rem;
    position        : absolute;
    top             : 11px;
    left            : 50%;
    right           : 50%;
    transform       : translate(-50%);
    cursor          : pointer;
}

.ignoreClick {
    pointer-events: initial;
}

@media (hover:hover) and (pointer:fine) {
    .ignoreClick {
        pointer-events: none;
    }
}

.topBarContent {
    padding      : 1rem;
    display      : flex;
    align-items  : center;
    font-family  : var(--font-primary);
    border-bottom: 1px solid #e3e3e3;
}

.topBarContent h3 {
    flex: 1;
}

.topBarContent button {
    display                    : flex;
    border-radius              : 50%;
    padding                    : 10px;
    border                     : 0;
    font-size                  : 100%;
    width                      : 52px;
    height                     : 52px;
    background-color           : transparent;
    cursor                     : pointer;
    -webkit-tap-highlight-color: transparent;
}

.topBarContent svg {
    pointer-events: none;
}

.topBarContent button:is(:focus) {
    background-color: rgb(226, 226, 226);
}

.topBarContent button:is(:hover) {
    background-color: rgb(221, 221, 221);
}

.topBarContent button:is(:active) {
    background-color: rgb(226, 226, 226);
    opacity         : .7;
    transition      : all .2s ease-in-out;
}

/* 
.topBarContent button:active {
    background-color: green;
} */