.main {
  justify-content             : center;
  /* min-height               : -webkit-fill-available; */
  background-color            : white;
  max-width                   : 500px;
  width                       : 100vw;
  margin                      : 0 auto;
  /* background-color         : blue; */
  height                      : 100dvh;
  overflow-x                  : hidden;
  overflow-y                  : auto;
}


.player {
  position: fixed;
  top     : 0;
  height  : 26.7dvh;
}

.topContent {
  /* border       : 3px solid red; */
  /* margin-top   : 40dvh; */
  height       : calc(100dvh - 26.7dvh);
  position     : fixed;
  bottom       : 0;
  overflow     : auto;
  padding-top  : 20px;
  /* border       : 3px solid blue; */
  /* margin-top: 26.7dvh; */
  /* padding   : 1rem 0; */
}

.topContent>.showComment {
  /* min-width:450px; */
  background-color              : transparent;
  padding                       : 1rem 1.2rem;
  margin                        : 0 10px;
  /* border-radius              : 20px; */
  border-radius                 : .5rem;
  font-family                   : var(--font-primary);
  /* border                     :3px solid; */
  /* border                     :1px solid rgb(0, 0, 0); */
  cursor                        : pointer;
  color                         : black;
  -webkit-tap-highlight-color   : transparent;
  display                       : flex;
  flex-direction                : column;
  gap                           : 10px;
  background-color              : rgb(238, 238, 238);
  background-color              : rgb(230, 230, 230);
}

.topContent>.showComment>input {
  width           : 65%;
  border          : 0;
  padding         : 10px;
  border-radius   : .5rem;
  background-color: rgb(214, 214, 214);
}

.topContent>.showComment>input:focus {
  outline: none;
}

.showComment:is(:hover) {
  background-color: rgba(202, 202, 202, 0.911);
  background-color: rgb(224, 224, 224);
}

.showComment:is(:active) {
  /* background-color: rgb(197, 195, 195); */
  opacity: .7;
}

.likeBtn,
.dislikeBtn,
.replyBtn,
.cancelBtn,
.commentBtn {
  /* color:red !important; */
  padding                    : .5rem;
  border-radius              : .5rem;
  background-color           : rgb(228, 228, 228);
  border                     : 0;
  cursor                     : pointer;
  user-select                : none;
  -webkit-tap-highlight-color: transparent;
    display        : flex;
  justify-content: center;
  align-items    : center;
  padding        : 0.5rem 1rem;
}

.likeBtn:active,
.dislikeBtn:active {
  scale           : 1.1;
  background-color: rgb(214, 214, 214);
}

.replyBtn:active,
.cancelBtn:active {
  background-color   : rgb(235, 235, 235);
  /* background-color: rgb(77, 77, 77); */
}

.cancelBtn,
.replyBtn,
.commentBtn {
  /* background-color: rgb(228, 228, 228); */
  border-radius: 1rem;
}

.cancelBtn,
.card>.replyBtn {
  background-color: transparent;
}

.cancelBtn:hover,
.replyBtn:hover {
  background-color: rgb(228, 228, 228);
  background-color: rgb(228, 228, 228);
}

.cancelBtn:active,
.replyBtn:active,
.commentBtn:active {
  /* background-color: rgb(228, 228, 228); */
  background-color: rgb(236, 236, 236);
}

.secondaryInput>.replyBtn {
  background-color: rgb(6, 136, 223);
  color           : white;
}

.secondaryInput>.replyBtn:hover {
  background-color   : rgb(6, 136, 223);
  /* background-color: rgb(10, 145, 235); */
  /* background-color: rgb(13, 148, 238); */
  color              : white;
}

.secondaryInput>.replyBtn:active {
  background-color: rgb(0, 151, 252);
  color           : white;
}

.commentBtn,
.secondaryInput>.replyBtn {
  background-color: rgb(0, 119, 255);
  color           : white;
}

.commentBtn:hover,
.secondaryInput>.replyBtn:hover {
  background-color: rgb(0, 119, 255);
  color           : white;
}

.commentBtn:active,
.secondaryInput>.replyBtn:active {
  background-color: rgba(0, 119, 255, 0.884);
  color           : white;
}

.primaryInput,
.secondaryInput {
  display: flex;
  padding: 1rem;
  gap    : .5rem;
  gap    : 1rem;
}

.primaryInput {
  display  : flex;
  font-size: 22px;
}

.commentActions {
  display        : flex;
  justify-content: flex-end;
  flex           : 1;
  gap            : 1rem;
}

.primaryInput>input,
.secondaryInput>input {
  flex               : 1;
  width              : 100%;
  border-radius      : .5rem;
  border             : 0;
  background-color   : rgb(228, 228, 228);
  background-color   : rgb(235, 235, 235);
  font-size          : 100%;
  /* padding         : 5px; */
  height             : 44px;
}

.primaryInput>input {
  background-color   : transparent;
  border             : 0;
  /* border-bottom   : 2px solid red; */
  /* border-bottom   : 2px solid rgba(0, 140, 255, 0.418); */
  /* border-bottom   : 2px solid rgba(0, 119, 255, 0.377); */
  border             : 2px solid transparent;
  border-radius      : initial;
  transition         : all .2s ease-in-out;
  width              : unset;
  /* padding         : initial; */
}

.primaryInput>input:focus,
.secondaryInput>input:focus {
  /* outline: 1px solid rgb(204, 204, 204); */
  outline      : none;
  border-bottom: 2px solid rgb(0, 119, 255);
}

.secondaryInput>input:focus {
  outline: 1px solid rgb(204, 204, 204);
}

.primaryInput {
  background-color         : white;
  /* position              : fixed;
  bottom                   : 0;
  right                    : 0;
  left                     : 0;
  margin                   : 0 auto; */
  width                    : 100vw;
  max-width                : 500px;
  /* border-top            : 1px solid rgb(221, 221, 221); */
  /* border-top            : 1px solid rgb(233, 233, 233); */
  /* box-shadow            : 0 -3px 5px rgb(236, 236, 236); */
  z-index                  : 100;
  flex-wrap                : wrap;

}

.secondaryInput {
  /* padding: 0.5rem 1rem; */
  /* padding: 1rem; */
  padding      : 1rem;
  border-bottom: 1px solid #c1bfbf;
  align-items  : center;
  /* font-size : 100%; */
}

.secondaryInput>button {
  width          : 90px;
  display        : flex;
  justify-content: center;
}

.secondaryInput>input {
  background-color: transparent;
  border          : 0;
  /* border-bottom: 2px solid red; */
  /* border-bottom: 2px solid rgba(0, 140, 255, 0.418); */
  border-bottom   : 2px solid rgba(0, 119, 255, 0.377);
  border-radius   : initial;
}

.secondaryInput>input:focus {
  outline: none;
}

.card {
  /* padding              : 1rem 1.2rem; */
  padding                 : 1rem;
  /* border-radius        : var(--border-radius); */
  background              : rgba(var(--card-rgb), 0);
  /* background-color     : orange !important; */
  /* border               : 1px solid rgba(var(--card-border-rgb), 0); */
  transition              : background 200ms, border 200ms;
  width                   : 100vw;
  max-width               : 500px;
  flex-wrap               : wrap;

  display              : flex;
  align-items          : center;
  gap                  : .5rem;
  text-align           : center;
  /* scroll-padding-top: 1rem; */
}

.card h2 {
  min-width  : 58px;
  font-family: var(--font-primary);
}


.card span {
  display   : inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight     : 300;
  /* margin-bottom: 0.7rem; */
}

.card p {
  margin     : 0;
  opacity    : 0.6;
  font-size  : 0.9rem;
  line-height: 1.5;
  max-width  : 30ch;
}

.card {
  background     : rgba(var(--card-rgb), 0.1);
  background     : white;
  border         : 1px solid rgba(var(--card-border-rgb), 0.1);
  /* border      : 1px solid rgba(var(--card-border-rgb), 0.2); */
  border-left    : 0;
  border-right   : 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    /* padding: 4rem; */
  }

  .card h2 {
    /* margin-bottom: 0.5rem; */
  }
}
